<div class="Game">
    <div class="gamescore">Cricket</div> 
    <div class="gamescore">{{playerwon}}</div> 
    <div class="gamescore icon-dart-{{scoreState(20)}}">{{scoreStateLabel(20)}}</div> 
    <div class="gamescore icon-dart-{{scoreState(19)}}">{{scoreStateLabel(19)}}</div> 
    <div class="gamescore icon-dart-{{scoreState(18)}}">{{scoreStateLabel(18)}}</div>   
    <div class="gamescore icon-dart-{{scoreState(17)}}">{{scoreStateLabel(17)}}</div> 
    <div class="gamescore icon-dart-{{scoreState(16)}}">{{scoreStateLabel(16)}}</div> 
    <div class="gamescore icon-dart-{{scoreState(15)}}">{{scoreStateLabel(15)}}</div>
    <div class="gamescore icon-dart-{{scoreState(25)}}">{{scoreStateLabel(25)}}</div>
</div>