<button class="button" (click)="reset()">reset</button>
<div class="barbutton">

  <div class="actions">
    <div class="indicator single">S</div>
    <button class="button single" (click)="hitSingle(20)">20</button>
    <button class="button single" (click)="hitSingle(19)">19</button>
    <button class="button single" (click)="hitSingle(18)">18</button>
    <button class="button single" (click)="hitSingle(17)">17</button>
    <button class="button single" (click)="hitSingle(16)">16</button>
    <button class="button single" (click)="hitSingle(15)">15</button>
    <button class="button single" (click)="hitSingle(25)">b</button>
  </div>
  <div class="actions">
    <div class="indicator dubble">D</div>
    <button class="button dubble" (click)="hitDubble(20)">20</button>
    <button class="button dubble" (click)="hitDubble(19)">19</button>
    <button class="button dubble" (click)="hitDubble(18)">18</button>
    <button class="button dubble" (click)="hitDubble(17)">17</button>
    <button class="button dubble" (click)="hitDubble(16)">16</button>
    <button class="button dubble" (click)="hitDubble(15)">15</button>
    <button class="button dubble" (click)="hitDubble(25)">bb</button>
  </div> 
  <div class="actions">
    <div class="indicator triple">T</div>
    <button class="button triple" (click)="hitTriple(20)">20</button>
    <button class="button triple" (click)="hitTriple(19)">19</button>
    <button class="button triple" (click)="hitTriple(18)">18</button>
    <button class="button triple" (click)="hitTriple(17)">17</button>
    <button class="button triple" (click)="hitTriple(16)">16</button>
    <button class="button triple" (click)="hitTriple(15)">15</button>
    <button class="button triple" (click)="mis()"></button>
  </div>
</div>
<button class="button" (click)="endTurn()">done</button>
