<div class="Game">
    <div class="playername">Cricket</div> 
    <div class="gamescore">-</div> 
    <div class="gamescore icon-dart-{{scoreState(20)}}"></div> 
    <div class="gamescore icon-dart-{{scoreState(19)}}"></div> 
    <div class="gamescore icon-dart-{{scoreState(18)}}"></div>   
    <div class="gamescore icon-dart-{{scoreState(17)}}"></div> 
    <div class="gamescore icon-dart-{{scoreState(16)}}"></div> 
    <div class="gamescore icon-dart-{{scoreState(15)}}"></div>
    <div class="gamescore icon-dart-{{scoreState(25)}}"></div> 
  </div>