<div class="player" *ngFor="let player of players">
  <div class="{{activePlayer(player.name)}}">
    <div class="playername ">{{player.name}}</div> 
    <div class="score">{{player.bonus}}</div> 
    <div class="score icon-dart-{{scoreState(player.score[20])}}"></div> 
    <div class="score icon-dart-{{scoreState(player.score[19])}}"></div> 
    <div class="score icon-dart-{{scoreState(player.score[18])}}"></div>   
    <div class="score icon-dart-{{scoreState(player.score[17])}}"></div> 
    <div class="score icon-dart-{{scoreState(player.score[16])}}"></div> 
    <div class="score icon-dart-{{scoreState(player.score[15])}}"></div>
    <div class="score icon-dart-{{scoreState(player.score[25])}}"></div> 
  </div>
</div>