<div class="player" *ngFor="let player of players">
  <div class="{{activePlayer(player)}}">
    <div class="playername ">{{player.name}}</div> 
    <div class="score">{{player.bonus}}</div> 
    <div class="score icon-dart-{{scoreState(20,player)}}"></div> 
    <div class="score icon-dart-{{scoreState(19,player)}}"></div> 
    <div class="score icon-dart-{{scoreState(18,player)}}"></div>   
    <div class="score icon-dart-{{scoreState(17,player)}}"></div> 
    <div class="score icon-dart-{{scoreState(16,player)}}"></div> 
    <div class="score icon-dart-{{scoreState(15,player)}}"></div>
    <div class="score icon-dart-{{scoreState(25,player)}}"></div> 
  </div>
</div>