<section id="topbar">
  <div class="split game" id="header">{{ title }}</div>
  <app-turn-tracker class="split"></app-turn-tracker>
</section>

<section id="gamebar">
  <div id="playersscore">
    <app-players-score ></app-players-score>
  </div>
  <div id="gamescore">
    <app-game-score></app-game-score>
  </div>
</section>

<section id="gamecontrols">
  <app-turn-control-cricket></app-turn-control-cricket>
</section>

<button (click)="start()" [class]="display">Start</button>
<router-outlet></router-outlet>