<section id="topbar"> 
  <div class="split game" id="header">DartsToday</div>
  <app-turn-tracker [leg]="leg" class="split"></app-turn-tracker>
</section>

<section id="gamebar">
<div id="playersscore">
  <app-players-score  [leg]="leg"></app-players-score>
</div>
<div id="gamescore">
  <app-game-score [leg]="leg"></app-game-score>
</div>
<div id="statistics">
  <app-statistics [legStatistics]="legStatistics" ></app-statistics>
</div>
</section>

<section id="gamecontrols">
<app-turn-control-cricket [leg]="leg" [dispatcher]="dispatcher"></app-turn-control-cricket>
</section> 