/* Generic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Screen-sizes */
  
  /* Typography */
  body {
    font-family: 'Droid Serif', serif;
    font-size: 26px;
    line-height: 40px;
  }
  
  /* colors */
  
  /* Generic components */