/* Generic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
/* Screen-sizes */
$element-heigth: 40px;

/* Typography */
body {
  font-family: 'Droid Serif', serif;
  font-size: 26px;
  line-height: $element-heigth;
}

$font-monospace:  Lucida Console, Courier, monospace;

.icon-dart-turn-attempt:before{content:'\0045';}
.icon-dart-turn-done:before{content:'\004c';}

.icon-dart-score-single:before{content:'\0043';}
.icon-dart-score-double:before{content:'\0044';}
.icon-dart-score-triple:before{content:'\004a';}
.icon-dart-closed:before{content:'\004a';}
  
/* colors */

/* Generic components */
%element-shared {
  /*border-right: 1px solid grey; */
  height: 100%;
  float: left;
  text-align: center;
}