/* Generic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Screen-sizes */
  $element-heigth: 40px;
  
  /* Typography */
  body {
    font-family: 'Droid Serif', serif;
    font-size: 26px;
    line-height: $element-heigth;
  }
  
  /* colors */
  
  /* Generic components */
  %element-shared {
    /*border-right: 1px solid grey; */
    height: 100%;
    float: left;
    text-align: center;
  }